<nav class="list-group list-group-flush sidebar-sticky">
    <NavLink href="/" class="list-group-item list-group-item-action" ActiveClass="active">Home</NavLink>
    <NavLink href="/dashboard" class="list-group-item list-group-item-action" ActiveClass="active">Dashboard</NavLink>
    <NavLink href="/processos" class="list-group-item list-group-item-action" ActiveClass="active">Processos</NavLink>
    <NavLink href="/departments" class="list-group-item list-group-item-action" ActiveClass="active">Setores</NavLink>
    <NavAuthorizeMenu/>
</nav>
