@page "/"
@using Microsoft.AspNetCore.Authorization
@attribute [AllowAnonymous]
@layout FSI.BusinessProcessManagement.Web.Components.Layout.MainLayout

<p style="font-size:18px;">Bem-vindo a gestão de processos de negócio, otimização geral da empresa</p>
<p style="font-size:16px;">Objetivo:</p>
<p style="font-size:14px;"><b>Mapear</b>, <b>analisar</b>, <b>otimizar</b> e monitorar processos.</p>
<p style="font-size:16px;">Como funciona:</p>
<p style="font-size:14px;">Cria-se um fluxo visual dos processos, identifica gargalos e aplica melhorias contínuas.</p>
<p style="font-size:16px;">Metodologia:</p>
<p style="font-size:14px;">A BPM (Business Process Management), ou Gerenciamento de Processos de Negócio</p>
<p style="font-size:14px;">Uma disciplina de gestão que foca na análise, desenho, implementação, monitoramento e otimização contínua dos processos de uma organização para atingir resultados alinhados aos objetivos estratégicos. Ela integra estratégia, pessoas, tecnologia e os próprios processos para melhorar o desempenho, reduzir custos e aumentar a eficiência operacional. </p>
